@import "../../../styles/sass/variables";

.sidebar__container {
  height: bottom;
  width: 250px;
  background-color: $primary-color;
  text-align: center;
  h3 {
    margin: 0;
    padding-top: 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-top: 5px;
    }
  }
  input {
    cursor: pointer;
  }
}
