@import "../../../styles/sass/variables";

.sidebar__container {
  height: 100vh;
  width: 250px;
  background-color: darken($color: #9b94c7, $amount: 0%);
  text-align: center;
  h3 {
    margin: 0;
    padding-top: 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}
