@import "../../../styles/sass/variables";

.body__cont {
  display: flex;
  height: 430px;
  justify-content: center;
  align-items: center;
  overflow: hidden scroll;
  &::-webkit-scrollbar {
    width: 5px;
    color: yellow;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    width: 5px;
    height: 15px;
    background: #2e2945;
  }
}

.job_container {
  min-height: 500px;
  height: fit-content;
  width: 1000px;
  margin-top: 850px;
  padding: 20px 0;
  background-color: $cards-bg;
  border-radius: 8px;
  box-shadow: $shadow;
  & > div {
    height: 90%;
    width: 860;
    padding: 15px 80px 15px 80px;
    display: grid;
    grid-template-rows: 7% 4% 75% 8% 6%;
  }
  article {
    height: 80px;
    width: inherit;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, (minmax(100px, 1fr)));
    h2 {
      grid-column: 1 / 2;
      margin: 0px;
      padding: 0;
    }
    img {
      grid-column: 2 / 3;
    }
  }
  ul {
    width: inherit;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-content: start;
    align-items: center;
    li {
      font-size: 13px;
      font-weight: 700;
      list-style-type: none;
    }
  }
  p {
    margin: 10px 0;
  }
  .tag-container {
    display: flex;
    margin: 0 0 10px;
    span {
      display: grid;
      height: 25px;
      min-width: 70px;
      padding: 1px 8px;
      width: fit-content;
      place-items: center;
      margin: 0 10px 0 0;
      background-color: lighten($color: $primary-color, $amount: 10);
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }
  }
  button {
    @include buttons(30px, 80px);
  }
  .buttons {
    display: grid;
    place-items: center;
  }
}

ul li {
  span {
    img {
      width: 10px;
    }
  }
}
