@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

* {
  top: 0;
  left: 0;
  right: 0;
  font-family: "Libre Baskerville", serif;
}
.App {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.body__container {
  height: 100%;
  display: grid;
  grid-template-columns: 26% 74%;
  /* column-gap: 50px; */
}

.cards__cont {
  grid-column: 2;
  height: 77vh;
  overflow: scroll;
}

.cards__cont::-webkit-scrollbar {
  width: 5px;
  color: yellow;
}
.cards__cont::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 5px;
  height: 15px;
  background: #2e2945;
}
